#ms_submit_btn {
    margin-top: 10px;
}

input#fn_input_fld {
    width: 100%;
    margin-bottom: 5px;
}

input#ln_input_fld {
    width: 100%;
    margin-bottom: 5px;
}

input#email_input_fld {
    width: 100%;
}